.game-container {
  text-align: center;
  margin-top: 50px;
}

.game-area {
  position: relative;
  width: 600px; /* Imposta la larghezza dell'area di gioco */
  height: 700px; /* Imposta l'altezza dell'area di gioco */
  background-color: black; /* Colore di sfondo per l'area di gioco */
  margin: 0 auto;
  overflow: hidden; /* Nasconde gli oggetti che escono dai bordi */
}

.player {
  position: absolute;
  bottom: 10px; /* Mantieni il giocatore sopra il bordo inferiore */
  width: 40px;
  height: 40px;
  background-color: #00ff00;
  border-radius: 5px; /* Bordo arrotondato */
}


.invader {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
}

.bullet {
  position: absolute;
  width: 5px;
  height: 15px;
  background-color: yellow;
}
